<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main view</title>
</head>
<body>
<div style="float: left">
<h3>Flask-socialapp</h3>
<form action = "http://localhost:5000/addPost" method = "POST">
         <p>Post content: <input type = "text" name = "content" style="width: 200px; height: 100px;"/></p>
         <p><input type = "submit" value = "submit" /></p>
         </form>
</br>
    <h3>Your pending friends requests:</h3>
    {% for pending_friend_request in pending_friends_requests %}
    {{pending_friend_request.name}} {{pending_friend_request.surname}} </br>
    Pending..  <a href="{{ url_for('routes.declineFriendsRequest', id = pending_friend_request.id) }}">Cancel</a>
    </br> </br>
    {% endfor %}

    <h3>Friends requests from other users:</h3>
    {% for sent_friend_request in sent_friends_requests %}
    {{sent_friend_request.name}} {{sent_friend_request.surname}} </br>
    <a href="{{ url_for('routes.acceptFriendsRequest', id = sent_friend_request.id) }}">Accept</a>
    <a href="{{ url_for('routes.declineFriendsRequest', id = sent_friend_request.id) }}"> Decline</a>
    </br> </br>
    {% endfor %}

    <h3>Your friends:</h3>
    {% for friend in friends %}
    {{friend.name}} {{friend.surname}} </br>
    <a href="{{ url_for('routes.deleteFriend', id = friend.id) }}">Delete</a>
    </br>
    {% endfor %}

    <h3>Friends propositions:</h3>
    {% for friend_proposition in friends_propositions %}
    {{friend_proposition.name}} {{friend_proposition.surname}} </br>
    <a href="{{ url_for('routes.sendFriendsRequest', id = friend_proposition.id) }}">Send a request</a>
    </br> </br>
    {% endfor %}

    <h3><a href="{{ url_for('routes.logout') }}">Logout!</a></h3>
    </div>
    <div style="float:left; margin-left: 100px;">
    <h2>Posts</h2>
        {% for friend in friends %}
        {% for i in range(friend.posts.count()) %}
        <h4> {{ friend.name }} {{friend.surname}} </h4>
        {{ friend.posts[i].created_at }} </br>
        {{ friend.posts[i].content }}
        {% endfor %}
        {% endfor %}
    </div>
    <div style="float:left; margin-left: 100px;">
    <h2>Your posts</h2>
        {% for i in range(user.posts.count()) %}
        <h4>You</h4>
        {{ user.posts[i].created_at }} </br>
        {{ user.posts[i].content }}
        </br>
        <a href="{{ url_for('routes.deletePost', id = user.posts[i].id) }}">Delete post</a>
        {% endfor %}
    </div>


</form>
</body>
</html>