<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main view</title>
</head>
<body>
<br action = "http://localhost:5000/addPost" method = "POST">
         <p>Post content: <input type = "text" name = "content" style="width: 200px; height: 100px;"/></p>
         <p><input type = "submit" value = "submit" /></p>
         </br>
    <h3>Your friends requests:</h3>
    {% for friend_request in friends_requests %}
    {{friend_request.name}} {{friend_request.surname}} </br>
    <a href="{{ url_for('routes.acceptFriendsRequest', id = friend_request.id) }}">Accept</a>
    <a href="{{ url_for('routes.declineFriendsRequest', id = friend_request.id) }}">Decline</a>
    </br>
    {% endfor %}
    <h3>Your friends:</h3>
    {% for friend in friends %}
    {{friend.name}} {{friend.surname}} </br>
    <a href="{{ url_for('routes.deleteFriend', id = friend.id) }}">Delete</a>
    {% endfor %}
    <h3><a href="{{ url_for('routes.logout') }}">Logout!</a></h3>

</form>
</body>
</html>